
/*-- scss:rules --*/

.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}

main table {
  table-layout: fixed;
}
main table th:first-child,
main table td:first-child {
  width: 11em;
}
